<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>First ECO</title>
 
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" 
      th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../static/bower_components/font-awesome/css/font-awesome.min.css"
      th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../static/bower_components/Ionicons/css/ionicons.min.css" 
      th:href="@{/bower_components/Ionicons/css/ionicons.min.css}">
  <!-- Theme style -->
  <link rel="stylesheet" href="../static/dist/css/AdminLTE.min.css"
      th:href="@{/dist/css/AdminLTE.min.css}">
  <link rel="stylesheet" href="../static/dist/css/skins/_all-skins.min.css" 
       th:href="@{/dist/css/skins/_all-skins.min.css}">
  <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/font-awesome.min.css"
      th:href="@{/bower_components/bootstrap/dist/css/font-awesome.min.css}">
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-boxed TO GET A BOXED LAYOUT -->
<body class="hold-transition skin-blue layout-boxed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>A</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Actualis</b>ACT</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../../dist/img/anonyme.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Diallo Boubacar</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../dist/img/anonyme.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Dév Full Stack</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header"></li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Article</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Importer Fichier</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Afficher Liste</a></li>
          </ul>
        </li>
        <li>
          <a href="../mailbox/mailbox.html">
            <i class="fa fa-chain"></i> <span>Fichier</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- ==================================================================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        ACTUALIS
        <small>Exercice Technique</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Article</a></li>
        <li class="active">Liste</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="callout callout-info">
        <h5>Consigne!</h5>

        <p>1°)  Réaliser une API en Java et une interface front qui permet d'afficher les articles(fournis dans le fichier JSON)
         de plusieurs façons différentes. Le jugement ne portera pas sur le design de l'application mais l'ergonomie sera prise en compte</p>
      <!--   <p>2°)  Publier le projet sur une plateforme publique de type Github.</p>
        <p>     Vous êtes libres d'implémenter les fonctionnalités que vous trouvez pertinentes.</p>
        <p>     Présentation du projet lors d'un 2éme RVD (sur place ou à distance en partage d'écran).</p> -->
     
      </div>
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Les Articles</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
         
        <div class="row">
  
          <div class="col-md-5">
              <form action="" th:action="@{'/importationFichier'}" th:objet="${articles}" method="POST" enctype='multipart/form-data'>
			  <div class="form-group">
			    <label for="">Telécharher un Fichier</label>
			    <input type="file" class="form-control" id="file" name="file">
			  </div>
			  <button type="submit" class="btn btn-warning">Afficher Fichier importer</button>
			</form>
           </div>	        
		          <div class="col-md-12">
	                  <div class="box">
	                    <div class="box-header with-border">
	                      <h3 class="box-title"><!--Classe--></h3>
	                    </div>
	                    <!-- /.box-header -->
	                    <div class="box-body">
	                      <table class="table table-bordered">
	                          <thead>
	                            <tr>
	                                <th>N°</th>
	                   <!--         <th>Titre</th>     
	                                <th>Corps</th>  -->
	                                <th>Date Pub</th>
	                     <!--       <th>Source</th>   -->
	                                <th>Edition</th>
	                                <th>Departements</th>
	                                <th>Regions</th>
	                                <th>Secteurs</th>
	                                <th>Thémes</th>
	                                <th>Action</th>
	                            </tr>
	                          </thead>
	                          <tbody id="showdata">
	                            <tr th:each="a, i : ${articles}">
	                                <td th:text="${i.count}"></td>
					   <!--         <td th:text="${a.titre}"></td>
							        <td th:text="${a.corps}"></td> -->
							        <td th:text="${a.publication_date}"></td>
					    <!--        <td th:text="${a.source}"></td> -->
							        <td th:text="${a.edition}"></td>
							        <td th:text="${a.departements}"></td>
							        <td th:text="${a.regions}"></td>
							        <td th:text="${a.secteurs}"></td>
							        <td th:text="${a.themes}"></td>
							        <td><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></td>
						    <!--   <td th:text="${a.typeFichier}"></td> -->
							      </tr>
	                         </tbody>
	                      </table>
	                    </div>
	                  </div>	        
          </div>
          
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
       <div class="callout callout-info">
        <p>2°)  Publier le projet sur une plateforme publique de type Github.</p>
        <p>     Vous êtes libres d'implémenter les fonctionnalités que vous trouvez pertinentes.</p>
        <p>     Présentation du projet lors d'un 2éme RVD (sur place ou à distance en partage d'écran).</p> 
     
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>0766656839</b> 
    </div>
    <strong>Copyright &copy; 2020 <a href="#">Développeur Full Stack biro.domby@gmail.com</a>.</strong> All rights 
    reserved.
  </footer>

 
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.min.js"
     th:src="@{bower_components/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script type="text/javascript" src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"
     th:src="@{bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- SlimScroll -->
<script type="text/javascript" src="../static/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"
     th:src="@{bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script type="text/javascript" src="../static/bower_components/fastclick/lib/fastclick.js"
     th:src="@{bower_components/fastclick/lib/fastclick.js}"></script>
<!-- AdminLTE App -->
<script type="text/javascript" src="../static/dist/js/adminlte.min.js"
     th:src="@{dist/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script type="text/javascript" src="../static/dist/js/demo.js"
     th:src="@{dist/js/demo.js}"></script>
<script type="text/javascript" src="../static/dist/js/jquery.min.js"
     th:src="@{dist/js/jquery.min.js}">
     </script>
 <script type="text/javascript" src="../static/dist/js/sweetalert2.all.min.js"
     th:src="@{dist/js/sweetalert2.all.min.js}">
     </script>
    
 
   
   
</body>
</html>

   